<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today?</title>
    <!----CSS link----->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sidebar.css"> 
    <link rel="stylesheet" href="css/contentStyle.css"> 
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-2 sidebar">
              <div class="brand">

                  <div class="brand-name">Today?</div>
              </div>
              <a href="/Homev2">
                  <div class="sidebar-item ">Home</div>
              </a>

              <a href="/Challenges">
                  <div class="sidebar-item active">Challenges</div>
              </a>
              <a href="/TODO">
                  <div class="sidebar-item">Todo</div>
              </a>
              <a href="/loguot">
                  <div class="sidebar-item">Sign out</div>
              </a>
          </div>
          <div class="col-9 content">
              <div class="welcome">
                  <h1>Hello <%= user.name %>!</h1>
                  <p>Welcome back, you have 5 tasks due tomorrow. lets finish them now!</p>
              </div>

              <div class="row progress-bg">
                <div class="col progress" id="pb-parent" style="color: blue;">
                  <div class="progress-bar" id="p1" role="progressbar" style="width:30%"  aria-valuemin="0" aria-valuemax="100">
                  <img class="rounded-circle users" src="../pics/blank.jpg" alt="">
                  </div>
                  <div class="progress-bar" id="p2" role="progressbar" style="width:50%"  aria-valuemin="0" aria-valuemax="100">
                    <img class="rounded-circle users" src="../Pics/day.jpeg" alt="">
                  </div>
                  <div class="progress-bar" id="p3" role="progressbar" style="width:20%"  aria-valuemin="0" aria-valuemax="100">
                    <img class="rounded-circle users" src="../Pics/cool.jpg" alt="">
                  </div>
                </div>
                <p class="col-2 finish">&#127942;</p>
              </div>
          </div>
      </div>
      <script src="Challenges.js"></script>
</body>

</html>