<!DOCTYPE html>
<html>

<head>
    <title>Today?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/contentStyle.css">
    <link rel="stylesheet" href="css/progressbar.css">
    <script src="script.js"type="module"></script>
    
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="brand">

                    <div class="brand-name">Today?</div>
                </div>
                <a href="/Home">
                    <div class="sidebar-item active">Home</div>
                </a>

                <a href="/Challenges">
                    <div class="sidebar-item">Challenges</div>
                </a>
                <a href="/TODO">
                    <div class="sidebar-item">Todo</div>
                </a>
                <a href="/logout">
                    <div class="sidebar-item">Sign out</div>
                </a>
            </div>
            <div class="col-9 content">
                <div class="welcome">
                    <!--Name of user-->
                  
                        <h1>Welcome!</h1>
                    <p>Welcome Back! get everythings done <b>Today?</b></p>

                </div>
                <!--هذي مفروض تتعبى حسب اليوزر وش عنده -->
                <div class="text-center" style="margin-top: 5%;">
                    <img class="img-fluid" src="/Pics/centered_image.png" style="max-width: 70%; height: auto;" >
                
                    <p>Wish it, plan it, do it!</p>
                </div>
                <hr>

<p>Challenges</p>
                    <div class="text-center" style="margin-left: 250px;">
                            <form class="d-flex justify-content-center align-items-center mb-4" style="width: 75%;">
                                <div class="form-outline flex-fill">
                                  <input type="text" id="myInput" class="form-control" />
                                </div>
                                <button id="Addbtn" type="submit" value="submit" class="btn btn-info ms-2"
                                  style="margin: 5px; background-color:#788CEC; border-color: #788CEC;">Add new task</button>
                              </form>
                            </div>
                            </div>

                    </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</body>

</html>