<!DOCTYPE html>
<html>

<head>
    <title>Today?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/contentStyle.css">
    <link rel="stylesheet" href="css/progressbar.css">
<<<<<<< HEAD:views/Homev2.ejs
 
=======
    <script src="script.js" type="module"></script>
>>>>>>> c6a5c085e854809bd7e96ae8d414139629b1e51a:views/OldHome.ejs
   
    

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="brand">

                    <div class="brand-name">Today?</div>
                </div>
                <a href="/Homev2">
                    <div class="sidebar-item active">Home</div>
                </a>

                <a href="/Challenges">
                    <div class="sidebar-item">Challenges</div>
                </a>
                <a href="/TODO">
                    <div class="sidebar-item">Todo</div>
                </a>
                <a href="/logout">
                    <div class="sidebar-item">Sign out</div>
                </a>
            </div>
            <div class="col-9 content">
                <div class="welcome">
<<<<<<< HEAD:views/Homev2.ejs
                    <!--Name of user-->
                    <h1 id="name"></h1>
                    <p>Welcome Back! get everythings done <b>Today?</b></p>
=======
          
                        <h1 >Welcome,<%= user.name %>!</h1>
                  
>>>>>>> c6a5c085e854809bd7e96ae8d414139629b1e51a:views/OldHome.ejs

                </div>
                <!--هذي مفروض تتعبى حسب اليوزر وش عنده -->
                <div class="row">
                    <div class="column">
                        <a href="Challenges.html">
                            <div class="card mb-3" style="width: 450px; margin: 20px;">
                                <div class="card-header ">Challenges</div>
                        </a>

                    </div>
                  <div id = "tasks"></div>
                </div>
<<<<<<< HEAD:views/Homev2.ejs
        
                <hr>

<p>Challenges</p>

                    <div class="text-center" style="margin-left: 250px;">
                            <form class="d-flex justify-content-center align-items-center mb-4" style="width: 75%;" action="/writefile" method="post">
                                <div class="form-outline flex-fill">
                                  <input type="text" id="myInput" class="form-control" name="singltask"/>
                                </div>
                                <button  id="Addbtn" type="submit" value="submit" class="btn btn-info ms-2 "
                                  style="margin: 5px; background-color:#788CEC; border-color: #788CEC;">Add new task</button>
                              </form>
                            </div>
                            </div>
=======
>>>>>>> c6a5c085e854809bd7e96ae8d414139629b1e51a:views/OldHome.ejs

                <div class="column">
                    <a href="TODO.html">
                    <div class="card mb-3" style="width: 450px; margin: 20px;">
                        <div class="card-header ">ToDo</div>
                    </a>
                    </div>

                    <div class="card mb-3 Task">

                        <div class="card-body">
                            <h5 class="card-title">task name</h5>
                            <p class="card-text">task describtion </p>
                            <!--from database-->
                        </div>
                    </div>
                    <div class="card mb-3 Task">

                    </div>


                </div>

            </div>
        </div>
    </div>
    <script src="script.js"></script>
  
</body>

</html>
