<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="color">
        <img src="Pics/logo.png" class="img">
    </div>
  <div class="alert-box"><h3>Today</h3></div>

   <form action='/register' method="post"> <div class="form">
        <h2 class="heading">Register</h2>
        <input type="text" placeholder="name" autocapitalize="off" class="name" name="name" >
        <input type="email" placeholder="email" autocapitalize="off" class="email" name="email" >
        <input type="password" placeholder="pass" autocapitalize="off" class="password" name="pass" >
        <button class="submit-btn" type="submit">Register</button>
        <a href="/login" class="link">Aleardy have an account? Log in here</a>
     
    </form>
    </div>
 <script src="form.js"></script>
</body>
</html>